doctype html
html.no-js(ng-app='famousAngularStarter')
  head
    meta(charset='utf-8')
    title Famo.us/Angular test
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    script(src='/lib/jquery-1.11.1.js')
    //Place favicon.ico and apple-touch-icon.png in the root directory
    //build:css styles/vendor.css
    //bower:css
    //endbower
    //endbuild
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='/css/mobile/main.css')
    link(rel='stylesheet', href='/css/mobile/test/famous.css')
    link(rel='stylesheet', href='/css/mobile/test/famous_styles.css')
    link(rel='stylesheet', href='/css/mobile/test/app.css')

    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
    //endbuild
    link(rel='stylesheet', href='/css/mobile/famous-angular.css')
  //body(ng-controller='MainCtrl')
  body
    div(ui-view='ui-view')
    script(src='/src/mobile/angular/angular.js')
    script(src='/src/mobile/angular/angular-animate.js')
    script(src='/src/mobile/angular/angular-cookies.js')
    script(src='/src/mobile/angular/angular-touch.js')
    script(src='/src/mobile/angular/angular-sanitize.js')
    script(src='/src/mobile/angular/angular-resource.js')
    script(src='/src/mobile/angular/angular-ui-router.js')
    script(src='/src/mobile/angular/angular-route.js')

    script(src='/src/mobile/lib/underscore.js')
    script(src='/src/mobile/lib/famous-global.js')
    script(src='/src/mobile/lib/famous-angular.js')
    //build:js({app,.tmp}) scripts/main.js
    script(src='/src/mobile/src/famousAngularStarter.js')
    script(src='/src/mobile/src/main/main-ctrl.js')
    script(src='/src/test.js')
    //inject:partials
    //endinject
    //endbuild
    //
      fa-app.full-screen
        //Container modifier, which we're rotating over the y axis
        fa-modifier(fa-origin='[.5, .5]', fa-rotate-y='rotateY.get()')
          //Front face
          fa-surface(fa-size='[true, true]', fa-color='\'rgb(255,255,250)\'')
            img.logo(src='/img/famous-logo.svg', style='width: 200px; height: 200px;')
          //Back face:  same image, rotated pi radians
          fa-modifier(fa-rotate-y='3.14159')
            fa-surface(fa-size='[true, true]', fa-color='\'rgb(255,255,250)\'')
              img.logo(src='/img/famous-logo.svg', style='width: 200px; height: 200px;')
        fa-modifier(fa-origin='[.5, .9]', fa-size='[200, 100]')
          fa-surface
            input(style='width: 100%; text-align: center;', type='range', min='10', max='100', ng-model='spinner.speed')
    button#bt(type='button') Click Me!