extends vis_layout
append head
  //script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBdUO4IupvYhgqmQyTUkCHlIewdYpOCWHM')

block header
  header.header
    //a#back.cross(href='/') Back
    a.logo(href='#')
      | back
    nav.navbar.navbar-static-top(role='navigation')
      a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-right
        ul.nav.navbar-nav
          li.dropdown.user.user-menu
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.glyphicon.glyphicon-user
              span
                | #{user.username}
                i.caret
            ul.dropdown-menu
              li.user-header.bg-light-blue
                p
                  | #{user.username}
                  small #{user.username}
              li.user-footer
                .pull-right
                  a.btn.btn-default.btn-flat(href='#') Sign out

block right-side
  section.content-header
    h1
      | Visualization
      small (scenario name)
  section.content
    .row
      section.col-lg-7.connectedSortable(ng-repeat="item in screens")
        .nav-tabs-custom
          ul.nav.nav-tabs.pull-right
            li.active
              a(href='#tab1', data-toggle='tab') Map
            li
              a(href='#tab2', data-toggle='tab') Graph
            li.pull-left.header
              i.fa.fa-inbox
              {{item}}
          .tab-content.no-padding
            #tab1.chart.tab-pane.active(style='position: relative; height: 300px;')
              ui-gmap-google-map(center='getCenter($index)', zoom='1', bounds='getBounds($index)')
                ui-gmap-markers(models='getMarkers($index)', coords="'self'", icon="'icon'", fit="'true'")
                  ui-gmap-windows(show="'showWindow'", closeclick="'closeClick'", ng-cloak='')
                    div
                      p(ng-non-bindable) This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!
                      p(ng-non-bindable) Group: {{ group }}
                      div
                        p(ng-non-bindable) Content: {{ value }}
            #tab2.chart.tab-pane(style='position: relative; height: 300px;')
              | Here comes the graph

    //.row
    //  section.col-lg-5.connectedSortable
    //    .box.box-solid.bg-teal-gradient
    //      .box-header
    //        i.fa.fa-th
    //        h3.box-title Sales Graph
    //        .box-tools.pull-right
    //          button.btn.bg-teal.btn-sm(data-widget='collapse')
    //            i.fa.fa-minus
    //          button.btn.bg-teal.btn-sm(data-widget='remove')
    //            i.fa.fa-times
    //      .box-body.border-radius-none
    //        #line-chart.chart(style='height: 250px;')





block left-side
  section.sidebar
    .user-panel
      .pull-left.info
        p Hello, Jane
    form.sidebar-form(action='#', method='get')
      .input-group
        input.form-control(type='text', name='q', placeholder='Search...')
        span.input-group-btn
          button#search-btn.btn.btn-flat(type='submit', name='search')
            i.fa.fa-search
    ul.sidebar-menu
      li.treeview
        a(href='#')
          i.fa.fa-folder
          span Groups
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(id='gr_all', href='#')
              i.fa.fa-angle-double-right
              | All
          li(ng-repeat="item in groups")
            a(id='gr_{{item}}', href='#')
              i.fa.fa-angle-double-right
              {{item}}

      li
        a(href='#')
          i.fa.fa-dashboard
          span Dashboard
      li
        a(href='#')
          i.fa.fa-th
          span Widgets



append body
  script(src='/src/visualization/js/plugins/angular/angular.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/angular/lodash.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/angular/angular-google-maps.min.js', type='text/javascript')

  script(src='/src/visualization/js/plugins/jquery/jquery-2.1.1.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/bootstrap/bootstrap.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/jquery/jquery-ui.min.js', type='text/javascript')

  script(src='/src/visualization/js/AdminLTE/app.js', type='text/javascript')
  script(src='/src/visualization/js/AdminLTE/dashboard.js', type='text/javascript')
  script(src='/src/visualization/js/AdminLTE/visualization.js', type='text/javascript')
