.hidden-input { 
	visibility:hidden; 
	position:absolute; 
	top:-50px; 
	left:-50px; 
}

.invalid-input {
	border: 3px solid red !important;
}

.ui-title {
    margin: 0 10% !important;
}

.ui-checkbox {
	width: 78%;
	float: right;
	margin: 0;
}

.ui-content table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.ui-content table th {
	text-align: center;
}

.ui-content table td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
	margin: 0;
}

.ui-content table td:nth-child(1) {
	width: 39%;
} 

.ui-content table td:nth-child(2) {
	width: 20%;
}

.ui-content table td:nth-child(3) {
	width: 20%;
}

.ui-content table td:nth-child(4) {
	width: 20%;
}

.ui-content table a {
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    margin-bottom: -1px;
    padding: 11px 15px;
    position: relative;
}

.ui-content table a:hover, .ui-content table a:focus {
	background-color: #f5f5f5;
    color: #555;
    border: 1px dotted #ddd;
}

.image-preview-container {
    margin-top: 10px;
    width: 100%;
    height: 5em;
    text-align: center;
}

.image-preview {
	width: 5em;
	height: 5em;
	font-style: italic;
	vertical-align: middle;
	background-color: #e9e9e9; 

}

.map-container {
	width: 100%;
	height: 7em;
	margin: 10px 0;
    padding: 0;
    position: relative;
}

.map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}