aside {
	left: 0;
    position: absolute;
    top: 130px;
    width: 260px;
}

#title {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    float: left;
    font-size: 21px;
    height: 20px;
    padding: 10px;
    text-align: left;
    width: 940px;
}

#header {
    height: 60px;
    position: relative;
    width: 960px;
    z-index: 1;
}

#main-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 130px;
    width: 620px;
    z-index: 1;
}

#main-content > div {
    margin-bottom: 30px;
}

.top-nav {
	border: 1px solid #eee;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    text-align:justify;
}

.top-nav-item.active {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}

.top-nav-item {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #ababab;
    display: block;
    font-size: 18px;
    height: 25px;
    padding: 10px 15px;
    text-align: center;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.table-title {
    font-size: 21px;
    height: 20px;
    padding: 10px;
    text-align: left;
    width: 940px;
}

#main-content table {
    width: 100%
}

#main-content td {
    border: 1px solid black;
    padding: 5px;
}

.map-canvas {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image-canvas {
    height: 200px;
}