.remove-scenario {
	color: #FF3A2D;
	float: right;
}

#scenarios table, #otherScenarios table {
	width: 100%;
}

#scenarios table th, #otherScenarios table th {
	text-align: center;
}

#scenarios table td, #otherScenarios table td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
}

#scenarios table td:nth-child(1) {
	width: 50%;
} 

#scenarios table td:nth-child(2) {
	width: 20%;
}

#scenarios table td:nth-child(3) {
	width: 20%;
}

#scenarios table td:nth-child(4) {
	width: 10%;
}

#otherScenarios table td:nth-child(1) {
	width: 28%;
}

#otherScenarios table td:nth-child(2) {
	width: 22%;
}

#otherScenarios table td:nth-child(3) {
	width: 20%;
}

#otherScenarios table td:nth-child(4) {
	width: 20%;
}

#otherScenarios table td:nth-child(5) {
	width: 10%;
}

#scenarios table td .remove-scenario, #otherScenarios table td .remove-scenario {
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    /*margin-bottom: -1px;*/
    padding: 10px 12px;
    width: 100%;
    position: relative;
}